@font-face {
	font-family:'Miwon';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Miwon.ttf') format('truetype'),
		 url('../fonts/Miwon.woff2') format('woff2'),
		 url('../fonts/Miwon.woff') format('woff'),
		 url('../fonts/Miwon.otf') format('opentype');
}
@font-face {
    font-family: 'Cafe24Danjeonghae';
    src: url('../fonts/Cafe24Danjunghae-v2.0.woff') format('woff'),
		 url('../fonts/Cafe24Danjunghae-v2.0.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}